//
@import "../../../bower_components/bootstrap/less/bootstrap.less";

html, body {
  height: 100%;
  overflow: hidden;
  // background-color: black
    background-color: black;

}

#instagramFeed {
  height: 150px;
  overflow-y: scroll;
  .grayscale();
}

#map, #pano, #pathway, #tonerMap{
    width: 100%;
}
#tonerMap, #world { height: calc(~"((100% - 150px)/100) * 15 ")}
#map  { height: calc(~"((100% - 150px)/100) * 40 ");.grayscale();}
#pano { height: calc(~"((100% - 150px)/100) * 45 ");.grayscale();}

#world {
  width: 33%;
  position: absolute;
  top:0;
  left:0;
  margin-left: 2%;
  // display: none;
  // background-image: url(../images/whiteGradient.svg);
}
#tonerMap {
  // width: 77%;
  // margin-left: 33%;
}

#currentId {
  width: 100%;
  text-align: center;
}

#controls {
  padding-top: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .title {
    background-color: black;
    color: white;

    border-radius: 4px;
  }
}

.hide { display: none; }

h5 {
  text-align: center;
}

#activity {
  height: 20%;
  .col {
    height: 100%;
    overflow-y: scroll;
  }
}

.graticule {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.land { fill: black;}

// panorama adress
.gm-iv-address { display: none !important;}
.gm-iv-address-link, .gm-iv-horizontal-separator, .gm-iv-marker, .gm-iv-vertical-separator {
  display: none !important;
}

// controls
.gmnoprint, .gm-style-cc { display: none !important;}

// // logos
img[src*="images/sv4"] { display: none !important; }
img[src*="white4"], img[src*="images/google4"]{ display: none !important;}
img[src*="google_white5"], img[src*="images/google4"]{ display: none !important;}


.grayscale {
  // -webkit-filter: grayscale(100%);
  // -moz-filter: grayscale(100%);
  // -ms-filter: grayscale(100%);
  // -o-filter: grayscale(100%);
  // filter: grayscale(100%);
  // filter: url(grayscale.svg); /* Firefox 4+ */
  // filter: gray; /* IE 6-9 */
}
