//
@import "../../../bower_components/bootstrap/less/bootstrap.less";

html, body {
  height: 100%;
  overflow-x: hidden;
}

#geo {
   height: 60%;
   #map, #pano { height: 100%;}
}


#currentId {
  width: 100%;
  text-align: center;
}

#controls {
  background-color: royalblue;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-size: 0.7em;
}

.hide { display: none; }

h5 {
  text-align: center;
}
