//
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: courier;
  overflow: hidden;
}
#pano {
  top: -3%;
  left: -15%;
  height: 85%;
  width: 90%;
}
#map {
  position: absolute;
  top: -10%;
  right: 0;
  width: 30%;
  height: 120%;
}

#activity {
  height: 20%;
  width: 70%;
  background-color: white;
  position: absolute;

  left: 0;
  bottom: 0;
}

#pointInfo {
  position: absolute;
  right: 1% ;
  width: 26%;
  bottom: 1%;

  background-color: white;
  padding: 1%;
}
#pointInfo p { margin: 0;}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
}
.short {
  height: 5%;
  white-space: nowrap;
}
.name {
  font-weight: bold;
}

.splash {
  padding: 10px;
  width: 500px;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 50%;

  margin-left: -250px;
  background: white
}

.hide {
  display: none;
}
 .splash h1, .splash p {text-align: center;}


#currentId {
  position: absolute;
  top:50%;
  right: 1%;
}
